/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #191e3f;
  font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
  color: #fff; }

.before, header::before, .section-3 .text-section-3 h4::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
  color: #fff;
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal; }

.numbers {
  position: absolute; }
  .numbers .section-number {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial";
    font-weight: bold;
    font-size: 18rem;
    opacity: 0.02; }
  .numbers .section-title {
    position: absolute;
    top: 125px;
    left: 95px;
    display: block;
    font-size: 2.1rem;
    font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
    font-weight: normal;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

.text {
  position: absolute; }
  .text p {
    font-size: 1.2rem;
    line-height: 1.2; }

.letter {
  font-family: RalewayBlack, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
  font-size: 80rem;
  color: #191e3f;
  opacity: .612;
  line-height: 1;
  left: -200px;
  top: -250px;
  position: absolute;
  text-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  z-index: 2; }

.photo {
  position: absolute;
  -webkit-box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }

.small {
  width: 404px; }

@-webkit-keyframes opacity-menu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacity-menu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@font-face {
  font-family: "RalewayThin";
  src: url("../fonts/RalewayThin/RalewayThin.eot");
  src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayThin/RalewayThin.woff") format("woff"), url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayBlack";
  src: url("../fonts/RalewayBlack/RalewayBlack.eot");
  src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

header {
  background-image: url(../img/01_header.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative; }
  header::before {
    background-color: rgba(25, 30, 63, 0.75); }
  header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    bottom: 0;
    left: 0;
    background-image: url(../img/header-gradient.png);
    background-repeat: repeat-x; }
  header .wrap-logo {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .wrap-logo img {
      width: 127px; }
  header .main-nav {
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 15vw;
    z-index: 3; }
    header .main-nav ul {
      list-style: none;
      display: none; }
    header .main-nav li {
      position: absolute;
      right: 5px;
      display: block;
      text-align: right;
      opacity: 0; }
      header .main-nav li:nth-child(1) {
        top: 60px;
        -webkit-animation: opacity-menu 0.1s linear 0.1s forwards;
                animation: opacity-menu 0.1s linear 0.1s forwards; }
      header .main-nav li:nth-child(2) {
        top: 100px;
        -webkit-animation: opacity-menu 0.1s linear 0.2s forwards;
                animation: opacity-menu 0.1s linear 0.2s forwards; }
      header .main-nav li:nth-child(3) {
        top: 140px;
        -webkit-animation: opacity-menu 0.1s linear 0.3s forwards;
                animation: opacity-menu 0.1s linear 0.3s forwards; }
      header .main-nav li:nth-child(4) {
        top: 180px;
        -webkit-animation: opacity-menu 0.1s linear 0.4s forwards;
                animation: opacity-menu 0.1s linear 0.4s forwards; }
      header .main-nav li a {
        color: #fff;
        width: 100vw;
        height: 40px;
        display: block;
        text-decoration: none;
        font-size: 1.5rem; }
        header .main-nav li a:visited {
          color: #cf3c54; }
        header .main-nav li a:active {
          font-family: "RalewayBlack";
          font-weight: bold; }
        header .main-nav li a:hover {
          text-decoration: underline; }
    header .main-nav label {
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50px;
      height: 50px; }
    header .main-nav #menu-checkbox {
      display: none; }
    header .main-nav label:before, header .main-nav label:after {
      content: '.';
      font-size: 0;
      width: 40px;
      height: 3px;
      background: #fff;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px; }
    header .main-nav #menu-checkbox:checked ~ ul {
      display: block; }
  header .wrap-h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .wrap-h1 h1 {
      text-align: center;
      font-size: 4rem;
      margin: 0 30px;
      opacity: 0; }

.section-1 {
  width: 100%;
  height: 632px;
  margin: 50px 0; }
  .section-1 .number-section-1 {
    margin-top: 200px; }
    .section-1 .number-section-1 .section-title {
      opacity: 0; }
  .section-1 img {
    margin-top: 30px;
    width: 660px;
    height: 632px;
    left: 255px;
    opacity: 0; }
    .section-1 img.animated {
      opacity: 1; }
  .section-1 .text {
    margin-top: 250px;
    width: 475px;
    margin-left: 680px;
    opacity: 0;
    opacity: 0; }
    .section-1 .text.animated {
      opacity: 1; }

.section-2 {
  width: 100%;
  height: 100vh;
  margin-top: 300px;
  margin-bottom: 300px;
  background-image: url(../img/02-section.png);
  background-size: cover;
  background-position: center;
  position: relative; }
  .section-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background-image: url(../img/section-2-gradient-top.png);
    background-repeat: repeat-x; }
  .section-2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    background-image: url(../img/section-2-gradient-bottom.png);
    background-repeat: repeat-x; }
  .section-2 .number-section-2 {
    margin-top: -45px;
    right: -40px;
    z-index: 3; }
    .section-2 .number-section-2 .section-title {
      opacity: 0; }
  .section-2 .container-logos {
    position: absolute;
    top: 200px;
    left: 35px;
    width: 850px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .section-2 .container-logos .logos {
      width: 230px;
      height: 100px;
      display: block;
      margin-bottom: 70px;
      z-index: 3;
      opacity: 0; }
      .section-2 .container-logos .logos img {
        width: 100%; }

.section-3 {
  width: 100%;
  height: 2114px;
  margin-bottom: 50px; }
  .section-3 .letter {
    z-index: 0;
    margin: 0;
    top: 340px;
    left: 240px; }
  .section-3 .numbers .section-title {
    left: 115px;
    opacity: 0; }
  .section-3 .number-section-3 {
    margin-left: 10px;
    top: -70px; }
  .section-3 img.george {
    right: 100px;
    top: 20px;
    opacity: 0; }
    .section-3 img.george.animated {
      opacity: 1; }
  .section-3 img.kenneth {
    left: 70px;
    top: 830px;
    opacity: 0; }
    .section-3 img.kenneth.animated {
      opacity: 1; }
  .section-3 img.richard {
    right: 50px;
    top: 960px;
    opacity: 0; }
    .section-3 img.richard.animated {
      opacity: 1; }
  .section-3 img.judith {
    left: 170px;
    top: 1400px;
    opacity: 0; }
    .section-3 img.judith.animated {
      opacity: 1; }
  .section-3 img.donald {
    right: 100px;
    top: 1620px;
    opacity: 0; }
    .section-3 img.donald.animated {
      opacity: 1; }
  .section-3 .text-section-3 {
    position: absolute; }
    .section-3 .text-section-3 h4 {
      font-size: 2rem;
      display: block;
      margin: 25px 0 10px 0; }
      .section-3 .text-section-3 h4::before {
        border-top: 5px solid #fff;
        width: 52px; }
    .section-3 .text-section-3 h5 {
      font-size: 1rem;
      opacity: 0.5;
      margin: 0 0 35px 0; }
    .section-3 .text-section-3 p {
      font-size: 0.8rem; }
  .section-3 .text-george {
    top: 350px;
    left: 295px;
    width: 320px;
    opacity: 0; }
    .section-3 .text-george.animated {
      opacity: 1; }
  .section-3 .text-kenneth {
    top: 1045px;
    left: 410px;
    opacity: 0; }
    .section-3 .text-kenneth.animated {
      opacity: 1; }
  .section-3 .text-richard {
    top: 1220px;
    left: 670px;
    opacity: 0; }
    .section-3 .text-richard.animated {
      opacity: 1; }
  .section-3 .text-judith {
    top: 1650px;
    left: 80px;
    opacity: 0; }
    .section-3 .text-judith.animated {
      opacity: 1; }
  .section-3 .text-donald {
    top: 1880px;
    right: -50px;
    opacity: 0; }
    .section-3 .text-donald.animated {
      opacity: 1; }

.section-4 {
  width: 100%;
  height: 1340px;
  background-image: url(../img/04-section.png);
  background-size: cover;
  background-position: center; }
  .section-4 .letter {
    z-index: 0;
    margin: 0;
    top: -160px;
    left: 530px; }
  .section-4 .number-section-4 {
    top: -20px;
    right: 460px;
    z-index: 3; }
    .section-4 .number-section-4 .section-title {
      opacity: 0; }
  .section-4 .text-section-4 {
    position: absolute;
    left: 60px;
    top: 400px;
    width: 470px;
    opacity: 0; }
    .section-4 .text-section-4.animated {
      opacity: 1; }
    .section-4 .text-section-4 h3 {
      font-size: 4.5rem;
      margin-bottom: 25px;
      margin-top: 0; }
    .section-4 .text-section-4 p {
      font-size: 1.2rem; }
  .section-4 footer {
    bottom: 60px;
    position: absolute;
    width: 100%; }
    .section-4 footer .container-footer {
      width: 290px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 10; }
      .section-4 footer .container-footer img {
        width: 90px;
        opacity: 0.2;
        margin-bottom: 30px; }
      .section-4 footer .container-footer nav a {
        color: #fff;
        font-size: 0.9rem;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer; }
        .section-4 footer .container-footer nav a:active {
          color: #cf3c54; }
        .section-4 footer .container-footer nav a:hover {
          font-family: "RalewayBlack";
          font-weight: bold;
          font-size: 0.8rem; }
      .section-4 footer .container-footer p {
        font-size: 0.9rem;
        margin-top: 18px; }

/*==========  Desktop First Method  ==========*/
/* Very Wide Screens */
@media only screen and (min-width: 1920px) {
  .section-2 {
    margin-bottom: 200px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1401px) {
  .section-1 .text {
    margin-left: 780px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .number-section-2 {
    margin-top: -45px;
    margin-right: 50px;
    z-index: 2; }
  .section-3 .text-donald {
    right: 50px; }
  .section-4 .letter {
    z-index: 0;
    margin: 0;
    top: -160px;
    left: 410px; }
  .section-4 .number-section-4 {
    top: -20px;
    right: 580px;
    z-index: 3; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header {
    height: 100vh; }
  .section-1 .container {
    width: 993px; }
    .section-1 .container .text {
      margin-top: 390px;
      margin-left: 345px;
      width: 495px; }
  .section-2 .container {
    width: 993px; }
    .section-2 .container .letter {
      left: -80px; }
    .section-2 .container .number-section-2 {
      margin-top: -45px;
      right: 50px;
      z-index: 2; }
    .section-2 .container .container-logos {
      top: 400px;
      left: 70px; }
  .section-3 {
    height: 1650px; }
    .section-3 .container {
      width: 993px; }
      .section-3 .container .number-section-3 {
        margin-left: 0px; }
      .section-3 .container .letter {
        left: 95px;
        top: 240px; }
      .section-3 .container img.george {
        right: 150px;
        top: 90px;
        width: 500px; }
      .section-3 .container .text-george {
        top: 300px;
        left: 150px;
        width: 400px; }
      .section-3 .container .small {
        width: 260px; }
      .section-3 .container img.kenneth {
        left: 70px;
        top: 700px; }
      .section-3 .container img.richard {
        right: 70px;
        top: 800px; }
      .section-3 .container img.judith {
        left: 170px;
        top: 1100px; }
      .section-3 .container img.donald {
        right: 150px;
        top: 1220px; }
      .section-3 .container .text-kenneth {
        top: 888px;
        left: 280px; }
      .section-3 .container .text-richard {
        top: 990px;
        left: 590px; }
      .section-3 .container .text-judith {
        top: 1290px;
        left: 80px; }
      .section-3 .container .text-donald {
        top: 1410px;
        right: 50px; }
  .section-4 .container {
    width: 993px; }
    .section-4 .container .letter {
      z-index: 0;
      margin: 0;
      top: -160px;
      left: 230px; }
    .section-4 .container .number-section-4 {
      top: -20px;
      right: 440px;
      z-index: 3; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .section-1 .container {
    width: 769px; }
    .section-1 .container .numbers .section-number {
      opacity: 0.05; }
    .section-1 .container .number-section-1 {
      margin-top: -10px;
      z-index: 1;
      left: 70px; }
    .section-1 .container img {
      left: 55px; }
    .section-1 .container .text {
      margin-top: 395px;
      margin-left: 130px;
      width: 540px; }
  .section-2 .container {
    width: 769px; }
    .section-2 .container .letter {
      left: -20px;
      font-size: 70rem;
      top: -60px; }
    .section-2 .container .number-section-2 {
      margin-top: -45px;
      right: 50px;
      z-index: 2; }
    .section-2 .container .container-logos {
      top: 400px;
      left: 140px;
      width: 540px; }
  .section-3 {
    height: 1370.5px; }
    .section-3 .container {
      width: 769px; }
      .section-3 .container .number-section-3 {
        margin-left: 0px; }
      .section-3 .container .letter {
        left: 40px;
        top: 259.8px;
        font-size: 70rem; }
      .section-3 .container img.george {
        right: 115.5px;
        top: 69.3px;
        width: 385px; }
      .section-3 .container .text-george {
        top: 311px;
        left: 115.5px;
        width: 478px; }
      .section-3 .container .small {
        width: 200.2px; }
      .section-3 .container img.kenneth {
        left: 53.9px;
        top: 649px; }
      .section-3 .container img.richard {
        right: 73.9px;
        top: 726px; }
      .section-3 .container img.judith {
        left: 130.9px;
        top: 957px; }
      .section-3 .container img.donald {
        right: 115.5px;
        top: 1049.4px; }
      .section-3 .container .text-kenneth {
        top: 673.76px;
        left: 235.6px; }
      .section-3 .container .text-richard {
        top: 857.3px;
        left: 384.3px; }
      .section-3 .container .text-judith {
        top: 1033.3px;
        left: 61.6px; }
      .section-3 .container .text-donald {
        top: 1180.7px;
        right: 48.5px; }
  .section-4 {
    height: 1125px; }
    .section-4 .container {
      width: 769px; }
      .section-4 .container .letter {
        z-index: 0;
        margin: 0;
        top: -160px;
        left: 80px;
        font-size: 70rem; }
      .section-4 .container .number-section-4 {
        top: -30p481x;
        right: 420px;
        z-index: 3; } }

@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
  .section-2 {
    height: 750px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .wrap-h1 h1 {
    font-size: 2rem;
    margin-top: 170px; }
  header .main-nav {
    right: 10vw; }
    header .main-nav li:nth-child(1) {
      top: 60px; }
    header .main-nav li:nth-child(2) {
      top: 85px; }
    header .main-nav li:nth-child(3) {
      top: 110px; }
    header .main-nav li:nth-child(4) {
      top: 135px; }
    header .main-nav li a {
      font-size: 1rem; }
  .section-1 {
    height: 700px; }
    .section-1 .container {
      width: 481px; }
      .section-1 .container .numbers .section-number {
        opacity: 0.05; }
      .section-1 .container .number-section-1 {
        margin-top: -10px;
        z-index: 1;
        left: 50px; }
      .section-1 .container img {
        width: 420px;
        height: 500px;
        left: 30px; }
      .section-1 .container .text {
        margin-top: 350px;
        margin-left: 70px;
        width: 340px; }
        .section-1 .container .text p {
          font-size: .9rem; }
  .section-2 {
    height: 600px;
    margin-top: 100px;
    margin-bottom: 200px; }
    .section-2 .container {
      width: 481px; }
      .section-2 .container .letter {
        left: -90px;
        font-size: 50rem;
        top: -100px; }
      .section-2 .container .number-section-2 {
        margin-top: -60px;
        right: 0px;
        z-index: 2; }
      .section-2 .container .container-logos {
        top: 300px;
        left: 40px;
        width: 350px; }
        .section-2 .container .container-logos .logos {
          width: 150px;
          height: 90px;
          margin-bottom: 0px; }
  .section-3 {
    height: 1225px; }
    .section-3 .container {
      width: 481px; }
      .section-3 .container .photo {
        -webkit-box-shadow: 0 78px 52px 0 rgba(0, 0, 0, 0.45);
                box-shadow: 0 78px 52px 0 rgba(0, 0, 0, 0.45); }
      .section-3 .container .number-section-3 {
        margin-left: 0px; }
      .section-3 .container .letter {
        left: 0px;
        top: 310px;
        font-size: 48rem;
        text-shadow: 0 108px 152px rgba(0, 0, 0, 0.45); }
      .section-3 .container img.george {
        right: 20px;
        top: 135px;
        width: 250px; }
      .section-3 .container .text-george {
        top: 270px;
        left: 75px;
        width: 350px; }
      .section-3 .container .small {
        width: 130px; }
      .section-3 .container img.kenneth {
        left: 20px;
        top: 590px; }
      .section-3 .container img.richard {
        right: 20px;
        top: 750px; }
      .section-3 .container img.judith {
        left: 20px;
        top: 910px; }
      .section-3 .container img.donald {
        right: 20px;
        top: 1070px; }
      .section-3 .container .text-kenneth {
        top: 594px;
        left: 180px; }
      .section-3 .container .text-richard {
        top: 754px;
        left: 30px;
        text-align: right; }
        .section-3 .container .text-richard ::before {
          left: 217px; }
      .section-3 .container .text-judith {
        top: 914px;
        left: 180px; }
      .section-3 .container .text-donald {
        top: 1074px;
        right: 175px;
        text-align: right;
        letter-spacing: -0.05rem; }
        .section-3 .container .text-donald ::before {
          left: 232px; }
  .section-4 {
    height: 1050px; }
    .section-4 .container {
      width: 481px; }
      .section-4 .container .letter {
        z-index: 0;
        margin: 0;
        top: 20px;
        left: -45px;
        font-size: 50rem;
        text-shadow: 0 108px 152px rgba(0, 0, 0, 0.45); }
      .section-4 .container .number-section-4 {
        top: -30px;
        right: 20px;
        z-index: 3; }
      .section-4 .container .text-section-4 {
        width: 340px;
        top: 315px;
        left: 45px; }
        .section-4 .container .text-section-4 h3 {
          line-height: 1;
          margin-bottom: 40px; }
        .section-4 .container .text-section-4 p {
          font-size: .9rem; }
      .section-4 .container footer {
        bottom: 40px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header .wrap-h1 h1 {
    font-size: 2.7rem;
    margin-top: 125px; }
  header .wrap-logo img {
    width: 100px; }
  header .main-nav {
    right: 10vw; }
    header .main-nav li:nth-child(1) {
      top: 50px; }
    header .main-nav li:nth-child(2) {
      top: 75px; }
    header .main-nav li:nth-child(3) {
      top: 100px; }
    header .main-nav li:nth-child(4) {
      top: 125px; }
    header .main-nav li a {
      font-size: 1rem; }
  .section-1 {
    height: 400px; }
    .section-1 .container {
      width: 260px; }
      .section-1 .container .number-section-1 {
        margin-top: 0px;
        z-index: 1;
        left: 5px; }
        .section-1 .container .number-section-1 .section-number {
          font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: bold;
          font-size: 10rem;
          opacity: 0.05; }
        .section-1 .container .number-section-1 .section-title {
          position: absolute;
          top: 75px;
          left: 60px;
          display: block;
          font-size: 1rem;
          font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: normal;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
      .section-1 .container img {
        width: 260px;
        height: 350px;
        left: 0; }
      .section-1 .container .photo {
        -webkit-box-shadow: 0 78px 52px 0 rgba(0, 0, 0, 0.45);
                box-shadow: 0 78px 52px 0 rgba(0, 0, 0, 0.45); }
      .section-1 .container .text {
        margin-top: 200px;
        margin-left: 35px;
        width: 210px; }
        .section-1 .container .text p {
          font-size: .7rem; }
  .section-2 {
    height: 400px;
    margin-top: 100px;
    margin-bottom: 80px; }
    .section-2 .container {
      width: 300px;
      margin: 0 auto; }
      .section-2 .container .letter {
        left: -30px;
        top: 45px;
        font-size: 25rem;
        text-shadow: 0 78px 52px rgba(0, 0, 0, 0.45); }
      .section-2 .container .number-section-2 {
        margin-top: -60px;
        margin-right: 20px;
        z-index: 2; }
        .section-2 .container .number-section-2 .section-number {
          font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: bold;
          font-size: 10rem;
          opacity: 0.05; }
        .section-2 .container .number-section-2 .section-title {
          position: absolute;
          top: 75px;
          left: 60px;
          display: block;
          font-size: 1rem;
          font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: normal;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
      .section-2 .container .container-logos {
        top: 200px;
        left: 30px;
        width: 250px; }
        .section-2 .container .container-logos .logos {
          width: 110px;
          height: 60px;
          margin-bottom: 0px; }
  .section-3 {
    height: 1225px; }
    .section-3 .container {
      width: 300px;
      margin: 0 auto; }
      .section-3 .container .photo {
        -webkit-box-shadow: 0 58px 52px 0 rgba(0, 0, 0, 0.45);
                box-shadow: 0 58px 52px 0 rgba(0, 0, 0, 0.45); }
      .section-3 .container .number-section-3 {
        top: -30px;
        margin-right: 20px;
        z-index: 2; }
        .section-3 .container .number-section-3 .section-number {
          font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: bold;
          font-size: 10rem;
          opacity: 0.05; }
        .section-3 .container .number-section-3 .section-title {
          position: absolute;
          top: 75px;
          left: 70px;
          display: block;
          font-size: 1rem;
          font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: normal;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
      .section-3 .container .letter {
        left: 25px;
        top: 450px;
        font-size: 25rem;
        text-shadow: 0 58px 52px rgba(0, 0, 0, 0.45); }
      .section-3 .container img.george {
        right: 20px;
        top: 140px;
        width: 200px; }
      .section-3 .container .text-george {
        top: 270px;
        left: 10px;
        width: 280px; }
      .section-3 .container .small {
        width: 110px; }
      .section-3 .container img.kenneth {
        left: 10px;
        top: 600px; }
      .section-3 .container img.richard {
        right: 20px;
        top: 750px; }
      .section-3 .container img.judith {
        left: 10px;
        top: 900px; }
      .section-3 .container img.donald {
        right: 20px;
        top: 1050px; }
      .section-3 .container .text-kenneth {
        top: 604px;
        left: 140px; }
        .section-3 .container .text-kenneth h4 {
          font-size: 1.1rem;
          margin: 15px 0 5px 0; }
        .section-3 .container .text-kenneth h5 {
          font-size: 0.9rem; }
        .section-3 .container .text-kenneth ::before {
          border-top: 3px solid #fff;
          width: 30px; }
      .section-3 .container .text-richard {
        top: 754px;
        left: 10px;
        margin-right: 150px;
        text-align: right; }
        .section-3 .container .text-richard ::before {
          left: 108px;
          border-top: 3px solid #fff;
          width: 30px; }
        .section-3 .container .text-richard h4 {
          font-size: 1.1rem;
          margin: 15px 0 5px 0; }
        .section-3 .container .text-richard h5 {
          font-size: 0.9rem; }
      .section-3 .container .text-judith {
        top: 904px;
        left: 140px; }
        .section-3 .container .text-judith h4 {
          font-size: 1.1rem;
          margin: 15px 0 5px 0; }
        .section-3 .container .text-judith h5 {
          font-size: 0.9rem; }
        .section-3 .container .text-judith ::before {
          border-top: 3px solid #fff;
          width: 30px; }
      .section-3 .container .text-donald {
        top: 1054px;
        right: 155px;
        text-align: right;
        letter-spacing: -0.05rem; }
        .section-3 .container .text-donald ::before {
          left: 113px;
          border-top: 3px solid #fff;
          width: 30px; }
        .section-3 .container .text-donald h4 {
          font-size: 1.1rem;
          margin: 15px 0 5px 0; }
        .section-3 .container .text-donald h5 {
          font-size: 0.9rem; }
  .section-4 {
    height: 700px; }
    .section-4 .container {
      width: 300px; }
      .section-4 .container .letter {
        z-index: 0;
        margin: 0;
        top: -20px;
        left: -45px;
        font-size: 25rem;
        text-shadow: 0 58px 52px rgba(0, 0, 0, 0.45); }
      .section-4 .container .number-section-4 {
        top: -30px;
        right: 20px;
        z-index: 3; }
        .section-4 .container .number-section-4 .section-number {
          font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: bold;
          font-size: 10rem;
          opacity: 0.05; }
        .section-4 .container .number-section-4 .section-title {
          position: absolute;
          top: 75px;
          left: 70px;
          display: block;
          font-size: 1rem;
          font-family: RalewayThin, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
          font-weight: normal;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
      .section-4 .container .text-section-4 {
        width: 240px;
        top: 170px;
        left: 30px; }
        .section-4 .container .text-section-4 h3 {
          line-height: 1;
          margin-bottom: 30px;
          font-size: 3rem; }
        .section-4 .container .text-section-4 p {
          font-size: .8rem; }
      .section-4 .container footer {
        bottom: 10px; }
        .section-4 .container footer .container-footer img {
          margin-bottom: 20px;
          width: 70px; }
        .section-4 .container footer .container-footer nav a {
          margin: 0 7px; }
        .section-4 .container footer .container-footer p {
          font-size: 0.7rem; } }

@media only screen and (max-width: 480px) and (orientation: landscape) {
  header .wrap-h1 h1 {
    font-size: 1.7rem;
    margin-top: 150px; } }
